__pycache__/authorization.cpython-38.pyc
__pycache__/additional_modules.cpython-38.pyc
.vscode/settings.json
__pycache__/dialogs.cpython-38.pyc
__pycache__/authorization.cpython-37.pyc
__pycache__/additional_modules.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/Term_7-DataBase.iml
.idea/modules.xml
.idea/workspace.xml
__pycache__/classes_for_alchemy_orm.cpython-38.pyc
__pycache__/authorization.cpython-37.pyc
__pycache__/additional_modules.cpython-37.pyc
